{% extends 'admin_panel/base3.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans 'Адресаты' %}</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans 'Выбрать адресатов' %}</h3>

          <div class="card-tools mt-1">
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
          </div>
        </div>
        <div class="card-body ">
            <div class="table-responsive p-5">
                <form action="{% url 'mailing' %}" method="get" enctype="multipart/form-data">
                    <table id="example" class="display"  style="width:100%">
                        <thead>
                            <tr>
                                <th>_</th>
                                <th>ID</th>
                                <th>{% trans 'Дата регистрации' %}</th>
                                <th>{% trans 'День рождения' %}</th>
                                <th>{% trans 'Почта' %}</th>
                                <th>{% trans 'Телефон' %}</th>
                                <th>{% trans 'ФИО' %}</th>
                                <th>{% trans 'Город' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <input type="checkbox" value="{{user.id}}" name="clients_filter">
                                </td>
                                <td>{{ user.id}}</td>
                                <td>{{ user.date_joined|date:"M d, Y"}}</td>
                                <td>{{ user.date_of_birth}}</td>
                                <td>{{ user.email}}</td>
                                <td>{{ user.phone}}</td>
                                <td>{{ user.last_name}}&nbsp;{{ user.first_name}}</td>
                                <td>{{ user.address}}</td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer">
                         {% bootstrap_button button_type="submit" content=save %}
                         {% bootstrap_button button_type="reset" content=reset %}
                    </div>
                </form>
            </div>
        </div>

        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
  </div>

{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
                 $('#example').DataTable({

                });
            });
    </script>
{% endblock %}