{% extends 'admin_panel/base3.html' %}
{% load static %}

{% block content %}

    <head>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{% static 'admin_panel/clients/clients.css' %}">
    </head>
    <div class="clients">
        <form action="{% url 'mailing' %}" method="get" enctype="multipart/form-data">
            <table id="example" class="display responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>_</th>
                        <th>ID</th>
                        <th>Дата регистрации</th>
                        <th>День рождения</th>
                        <th>Почта</th>
                        <th>Телефон</th>
                        <th>ФИО</th>
                        <th>Город</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><input type="checkbox" value="{{user.id}}" name="clients_filter"></td>
                            <td>{{ user.id}}</td>
                            <td>{{ user.date_joined|date:"M d, Y"}}</td>
                            <td>{{ user.date_of_birth}}</td>
                            <td>{{ user.email}}</td>
                            <td>{{ user.phone}}</td>
                            <td>{{ user.last_name}}&nbsp;{{ user.first_name}}</td>
                            <td>{{ user.address}}</td>
                            <td><a href="{% url 'update_client' user.id %}"><img class="icon" src="{% static 'admin_panel/imgs/edit.png' %}" alt=""></a></td>
                            <td><a href="{% url 'delete_client' user.id %}'"><img class="icon" src="{% static 'admin_panel/imgs/delete.png' %}" alt=""></a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form__bottom">
                <button class="form__btn btn-primary btn-primary_corner">Начать рассылку</button>
            </div>
        </form>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
     <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
             $('#example').DataTable({
                responsive: true,
                 scrollX: true,
            });
        });
    </script>
{% endblock %}