
{% extends 'admin_panel/base3.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans 'Кинотеатры' %}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans 'Список текущих кинотеатров' %}</h3>

          <div class="card-tools mt-1">
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
          </div>
        </div>
        <div class="card-body mb-5 d-flex flex-row justify-content-sm-center flex-wrap">
            {% for cinema in cinemas %}
              <div class="card" style="width: 24rem;">
                  <a class="text-decoration-none" href="{% url  'cinema_card' cinema.id %}">
                  <img src="{{ cinema.banner.url }}" class="card-img-top img-fluid " style="height: 300px"alt="...">
                  <div class="card-body">
                    <p class="card-text text-uppercase text-info">{{ cinema.name }}</p>
                  </div>
                  </a>
              </div>
            {% endfor %}
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
      </div>
      <!-- /.card -->

    </section>
  </div>

{% endblock %}