{% extends 'admin_panel/base3.html' %}
{% load static %}{# Load the tag library #}
{% load django_bootstrap5 %}
{% load file_filters %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block head %}
    <link rel="stylesheet" href="{% static 'upload.css' %}">

{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Форма для изменения фильма</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <div class="card-tools mt-1">
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
          </div>
        </div>
        <form  action="{% url 'update_film' film_name %}"  method="post"  id="film_form"  runat="server" enctype="multipart/form-data">
            <div class="card-body mb-5 ">
                {% csrf_token %}
                {% bootstrap_form form  layout='horizontal' show_help=True size='sm'%}
                <div class="d-none" id="card-img-data" data-size = '{{ form.instance.card_img.path | filesize}}' data-name = '{{ form.card_img.value | filename }}' data-path = '{% get_media_prefix %}{{ form.card_img.value }}'></div>
                <div  class="d-none" id="banner-img-data" data-size = '{{ form.instance.banner.path | filesize}}' data-name = '{{ form.banner.value | filename }}' data-path = '{% get_media_prefix %}{{ form.banner.value }}'></div>

                <div id="card-header mb-5" style="margin-bottom: 50px">
                    <h3 class="card-title text-center">Галерея</h3>
                </div>
                {% bootstrap_form film_imgsForm  layout='horizontal' show_help=True size='sm'%}
                {% for film_img in film_imgsForm.film_imgs_list %}
                    <div  class="d-none gallery-data"  data-size = '{{ film_img.path | filesize}}' data-name = '{{ film_img | filename }}' data-path = '{% get_media_prefix %}{{ film_img }}'></div>
                {% endfor %}


                <div id="card-header mb-5" style="margin-bottom: 50px">
                    <h3 class="card-title text-center">Seo блок</h3>
                </div>
                {% bootstrap_form seo_form  layout='horizontal' show_help=True size='sm'%}
            </div>
            <div class="card-footer">
                 {% bootstrap_button button_type="submit" content="Сохранить" %}
                 {% bootstrap_button button_type="reset" content="Сбросить" %}
            </div>
        </form>
      </div>
      <!-- /.card -->
    </section>
  </div>
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="{% static 'admin_panel/film/film_form_update.js' %}"></script>
{% endblock %}

