{% extends 'admin_panel/base3.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'admin_panel/film/films.css' %}">
    </head>
     <div class="films">
        <div class="films__add-item">
            <a href="{% url 'film_form' %}">
                <button class="films__btn btn-primary">Добавить новый фильм</button>
            </a>
        </div>
        <div class="films__title">
            Фильмы которые сейчас
        </div>
        <div class="films__items">
            {% for film in films.released_films %}
                <div class="films__item">
                    <a href="{% url 'update_film' film.name %}">
                        <img class="films__img" src="../../../media/{{ film.card_img }}" alt="">
                    </a>
                    <div class="films__name">{{ film.name}}</div>
                </div>
            {% endfor %}
        </div>

        <div class="films__title">
            Фильмы которые скоро
        </div>
        <div class="films__items">
           {% for film in films.unreleased_films %}
                <div class="films__item">
                    <a href="{% url 'update_film' film.name %}">
                        <img class="films__img" src="../../../media/{{ film.card_img }}" alt="">
                    </a>
                    <div class="films__name">{{ film.name}}</div>
                </div>
            {% endfor %}
        </div>
     </div>

{% endblock %}

