{% extends 'admin_panel/base3.html' %}
{% load static %}
{% load i18n %}

{% block head %}
       <link rel="stylesheet" href="{% static 'admin_panel/mailing/mailing.css' %}">
       <link rel="stylesheet" href="{% static 'admin_panel/mailing/upload_html.css' %}">
{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans 'Рассылка' %}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% trans 'Рассылка на почту' %}</h3>

          <div class="card-tools mt-1">
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
          </div>
        </div>
        <div class="card-body ">
            <form id="process-raw-data" action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <div class="card__sample mb-5">
                    <div class="card__title mb-3">{% trans 'Выбрать адресатов:'  %}</div>
                    <div class="card__radio btn-group">
                        <input type="radio" class="btn-check" name="clients" id="all_clients" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="all_clients">{% trans 'Всех' %}</label>

                        <input type="radio" class="btn-check" name="clients" id="selected_clients" autocomplete="off">
                        <label class="btn btn-outline-primary" for="selected_clients">{% trans 'Выборочно' %}</label>
                    </div>
                    <a href="{% url 'choose_client' %}" >
                        <input type="button" class="btn card__btn btn-primary" value='{% trans 'Выбрать клиентов' %}'>
                    </a>
                </div>
                <div class="card__subtitle mb-3">{% trans 'Выбрать шаблон HTML' %} </div>

                <div class="card__row btn-group mb-5">
                    <input type="radio" class="btn-check" name="template" value="new" id="new_template" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="new_template">{% trans 'Новый' %}</label>

                    <input type="radio" class="btn-check" name="template" value="previous" id="previous_template" autocomplete="off">
                    <label class="btn btn-outline-primary" for="previous_template">{% trans 'Старый' %}</label>
                </div>
                <div class="card__file mb-5">
                    {% for row in file_form %}
                        {{ row }}
                        {{ row.errors }}
                    {% endfor %}
                </div>
                <div class="card__list mb-5">

                    <div class="card__subtitle">{% trans 'Список последних загруженных шаблонов' %}</div>

                    {% for file in templates_html %}
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="templates_filter" id="{{ file.id }}" value="{{ file.id }}">
                          <label class="form-check-label" for="{{ file.id }}">
                            {{ file.filename }}
                              <a href="{% url 'delete_template' file.id %}">
                                <div class="list-item__del">
                                    {% trans 'Удалить' %}
                                </div>
                            </a>
                          </label>
                        </div>
                    {% endfor %}
                </div>
                    <button class="btn form__btn btn-primary btn-primary_corner mr-3 mb-3">{% trans 'Начать рассылку' %}</button>
                    <div class="progress d-none" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
                   </div>

            </form>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
  </div>

{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="module" src="{% static 'admin_panel/mailing/upload_html.js' %}"></script>
    <script>
        let updloadTemplateLabel = '{% trans 'Загрузить шаблон' %}'
        let updloadedTemplateLabel = '{% trans 'Загружен файл' %}'
    </script>
    <script type="module" src="{% static 'admin_panel/mailing/mailing.js' %}"></script>
    {% if task_id %}
        <script type="text/javascript">
            var taskid = "{{task_id}}";
            var frm = $('#process-raw-data');
            var pgrbar = $('.progress-bar');

            get_task_info(taskid);

            function get_task_info(tid) {
                $.ajax({
                    type: 'get',
                    url: '/admin/get_task_info',
                    data: {
                        'task_id': tid,
                            },
                    success: function (data) {

                        if (data.state == 'PROGRESS') {
                            pgrbar.parent().removeClass('d-none')
                            pgrbar.css('width', String(data.result.current / data.result.total * 100) + '%');
                       }
                        else if(data.state == 'SUCCESS'){
                            pgrbar.parent().addClass('d-none')
                            frm.html('Successfully Completed!');

                        }
                        if (data.state != 'SUCCESS') {
                            setTimeout(function () {
                                get_task_info(tid)
                            }, 100);
                        }
                    },
                    error: function (data) {
                        frm.html("error!");
                    }
                });
            }
        </script>
    {% endif %}
{% endblock %}