{% extends 'admin_panel/base3.html' %}
{% load static %}{# Load the tag library #}
{% load i18n %}
{% load django_bootstrap5 %}
{% load file_filters %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block head %}
    <link rel="stylesheet" href="{% static 'upload.css' %}">

{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{% trans 'Форма для обновления страницы' %}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header d-flex flex-row justify-content-between align-items-center flex-wrap">
              <div class="card-tools p-2 flex-fill">
               <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label d-none d-sm-inline text-wrap" for="flexSwitchCheckDefault">{% trans 'Включить/Выключить страницу' %}</label>
               </div>
              </div>
              <div class="card-tools p-2 flex-fill text-right">
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </button>
              </div>
        </div>
        <form  action="{% url 'update_page' page_id %}" method="post"    runat="server" enctype="multipart/form-data">
            <div class="card-body mb-5 ">
                {% csrf_token %}
                {% bootstrap_form page_form  layout='horizontal'   size='sm'%}
{##}
{#                <div class="d-none" id="pic1-data" data-size = '{{ page_form.instance.first_pic.path | filesize}}' data-name = '{{ page_form.first_pic.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.first_pic.value }}'></div>#}
{#                <div class="d-none" id="pic2-data" data-size = '{{ page_form.instance.second_pic.path | filesize}}' data-name = '{{ page_form.second_pic.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.second_pic.value }}'></div>#}
{#                <div class="d-none" id="pic3-data" data-size = '{{ page_form.instance.third_pic.path | filesize}}' data-name = '{{ page_form.third_pic.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.third_pic.value }}'></div>#}
{#                <div class="d-none" id="banner-img-data" data-size = '{{ page_form.instance.banner.path | filesize}}' data-name = '{{ page_form.banner.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.banner.value }}'></div>#}

                {% block content3 %}


                {% endblock %}

                <div class="card-header mb-5">
                    <h3 class="card-title text-center">{% trans 'Галерея' %}</h3>
                </div>
                <div class="d-flex flex-row flex-wrap justify-content-center  gap-5 align-items-center">
                    {{ page_gallery.management_form }}
                     {% for form in page_gallery %}
                         <div class="card__item   mb-2 d-flex flex-column justify-content-center">
                             <img class="card__preview card__preview_horizontal img-fluid" src="{{ form.img.value.url }}" style="width: 12rem;height: auto" alt="">
                             <button type='button' class='btn card__btn card__btn_change btn-primary mb-3'> {% trans 'Изменить картинку'  %} </button>
                             {% bootstrap_form form %}

                              <button type='button' class="btn card__btn card__btn_remove bg-danger">{% trans 'Удалить' %}</button>
                         </div>
                     {% endfor %}
                    <div class="card__item card__item_add " name="top">
                        <img class="img-fluid h-auto" style="width: 5rem;cursor: pointer" src="{% static 'admin_panel/imgs/add.png' %}">
                    </div>
                </div>

                <div class="card-header mb-5">
                    <h3 class="card-title text-center">{% trans 'Seo блок' %}</h3>
                </div>
                {% bootstrap_form seo_form  layout='horizontal' show_help=True size='sm'%}
            </div>
            <div class="card-footer">
                 {% bootstrap_button button_type="submit" content=save %}
                 {% bootstrap_button button_type="reset" content=reset %}
            </div>
        </form>
      </div>
      <!-- /.card -->
    </section>
  </div>
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="{% static 'admin_panel/gallery/gallery.js' %}"></script>

    <script type="module" src="{% static 'admin_panel/page/page_form_update.js' %}"></script>
{% endblock %}