{% extends 'admin_panel/base3.html' %}
{% load static %}{# Load the tag library #}
{% load django_bootstrap5 %}
{% load file_filters %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block head %}
    <link rel="stylesheet" href="{% static 'upload.css' %}">

{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Форма для обновления страницы</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header d-flex flex-row justify-content-between align-items-center flex-wrap">
              <div class="card-tools p-2 flex-fill">
               <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label d-none d-sm-inline text-wrap" for="flexSwitchCheckDefault">Включить/Выключить страницу</label>
               </div>
              </div>
              <div class="card-tools p-2 flex-fill text-right">
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </button>
              </div>
        </div>
        <form  action="{% url 'update_page' page_id %}" method="post"    runat="server" enctype="multipart/form-data">
            <div class="card-body mb-5 ">
                {% csrf_token %}
                {% bootstrap_form page_form  layout='horizontal'   size='sm'%}
                <div class="d-none" id="pic1-data" data-size = '{{ page_form.instance.first_pic.path | filesize}}' data-name = '{{ page_form.first_pic.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.first_pic.value }}'></div>
                <div class="d-none" id="pic2-data" data-size = '{{ page_form.instance.second_pic.path | filesize}}' data-name = '{{ page_form.second_pic.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.second_pic.value }}'></div>
                <div class="d-none" id="pic3-data" data-size = '{{ page_form.instance.third_pic.path | filesize}}' data-name = '{{ page_form.third_pic.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.third_pic.value }}'></div>
                <div class="d-none" id="banner-img-data" data-size = '{{ page_form.instance.banner.path | filesize}}' data-name = '{{ page_form.banner.value | filename }}' data-path = '{% get_media_prefix %}{{ page_form.banner.value }}'></div>

                {% block content3 %}


                {% endblock %}

                <div class="card-header mb-5">
                    <h3 class="card-title text-center">Галерея</h3>
                </div>
                {% bootstrap_form page_imgsForm  layout='horizontal' show_help=True size='sm'%}
                {% for page_img in page_imgsForm.page_imgs_list %}
                    <div  class="d-none gallery-data"  data-size = '{{ page_img.path | filesize}}' data-name = '{{ page_img | filename }}' data-path = '{% get_media_prefix %}{{ page_img }}'></div>
                {% endfor %}

                <div class="card-header mb-5">
                    <h3 class="card-title text-center">Seo блок</h3>
                </div>
                {% bootstrap_form seo_form  layout='horizontal' show_help=True size='sm'%}
            </div>
            <div class="card-footer">
                 {% bootstrap_button button_type="submit" content="Сохранить" %}
                 {% bootstrap_button button_type="reset" content="Сбросить" %}
            </div>
        </form>
      </div>
      <!-- /.card -->
    </section>
  </div>
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="module" src="{% static 'admin_panel/page/page_form_update.js' %}"></script>
{% endblock %}