{% extends 'admin_panel/base3.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'admin_panel/form.css' %}">
    </head>

        <div>
            <a href="{% url 'page_form' %}">
                <button type="button"   class="form__btn form__btn_w300 btn-primary btn-primary_corner">
                  Создать страницу
                </button></a>
        </div>

        <div class="form__title">Список Страниц</div>



    <table class="form__table table">
          <thead>
            <tr>
              <th>Название</th>
              <th>Дата Создания</th>
              <th>Статус</th>
              <th>Изменить</th>
              <th>Удалить</th>
            </tr>
          </thead>
          <tbody>

            {% for page in page_list %}
                <tr>
                  <td>{{ page.name }}</td>
                  <td>{{ page.creation_date }}</td>
                  <td>
                      {% if page.turn_on %}
                        ВКЛ
                      {% else %}
                        ВЫКЛ
                      {% endif %}
                  </td>
                  <td><a href="{% url 'update_page' page.id %}"><img class="table__icon" src="{% static 'admin_panel/imgs/edit.png' %}" alt=""></a> </td>
                  <td>
                      {% if page.able_to_del %}
                        <a href="{% url 'delete_page' page.id %}"><img class="table__icon"  src="{% static 'admin_panel/imgs/delete.png' %}" alt=""></a>
                      {% endif %}
                  </td>
                </tr>
            {% endfor %}

          </tbody>
    </table>

{% endblock %}