{% load i18n %}

{% for film ,date_film  in result %}
 <div class="film__item mb-3 bg-gray-light p-3">
     <div class="film__title fs-1 mb-3">{{ film.name }} ({{ film.legal_age}}+)</div>
     <div class="film__info info">
         {% for date,hall_film in date_film %}
             <div class="info__date">
                 <div class="info__text fs-2  mb-2" style="padding-left: 1.5rem;">{{ date }}</div>
                 {% for hall,tech_film in hall_film %}
                     <div class="info__hall" >
{#                                             <div class="info__hall_scheme" hidden>#}
{#                                                 <div class="hall" >#}
{#                                                    {{ hall.scheme_html | safe }}#}
{#                                                 </div>#}
{#                                             </div>#}

                         <div class="info__text fs-3 mb-2" style="padding-left: 3.0rem;">{% trans 'Зал' %} №{{ hall.number }}</div>
                         {% for tech,seances in tech_film %}
                             <div class="info__tech">
                                 <div class="info__text fs-4 mb-2" style="padding-left: 4.5rem;">{{ tech }}</div>
                                 <div class="d-flex flex-row flex-wrap justify-content-start">
                                     {% for seance in seances %}
                                         <div class="info__time fs-5 mb-2 " style="padding-left: 6rem;" data-seance_id={{ seance.id  }} >
                                             <button type="button" class="btn btn-primary ">
                                                 {{ seance.time }}
                                             </button>
                                             <a class="info__remove"   href='{% url 'delete_seance' seance.id  %}' ><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-square-fill text-danger" viewBox="0 0 16 16">
                                              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                            </svg></a>

                                         </div>
                                     {% endfor %}
                                 </div>
                             </div>
                         {% endfor %}
                     </div>
                 {% endfor %}
             </div>
         {% endfor %}
     </div>
 </div>
{% endfor %}