{% extends 'admin_panel/base3.html' %}
{% load static %}
{% block head %}
            <link rel="stylesheet" href="{% static 'admin_panel/statistic/statistic.css' %}">

{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Статистика</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Текущая статистика</h3>

          <div class="card-tools mt-1">
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
          </div>
        </div>
        <div class="card-body mb-5">
            <div class="statistic d-flex flex-row flex-wrap justify-content-center">
                    <div class="pie-chart-sex mb-3 mr-3" style="width: 25rem;height: 20rem"  ></div>
                    <div class="pie-chart-films mb-3 mr-3" style="width: 25rem;height: 20rem"    ></div>
                    <div class="area-seances mb-3 mr-3"  style="width: 100%;height: 20rem"  ></div>
                    <div class="line-stack-films mb-3 mr-3"  style="width: 100%;height: 20rem" ></div>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </section>
  </div>

{% endblock %}
{% block script %}
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

     <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>

      <script type="text/javascript">
        var pieChartSex = $('.pie-chart-sex')
        var pieChartFilms = $('.pie-chart-films')
        var myChartSex = echarts.init(pieChartSex.get(0), null, {
          renderer: 'canvas',
          useDirtyRect: false
        });
        var myChartFilms = echarts.init(pieChartFilms.get(0), null, {
          renderer: 'canvas',
          useDirtyRect: false
        });



        var optionForPieChartSex = {
          title: {
            text: 'Пол 100% от общего числа билетов',
            left: 'center',
            textStyle: {
                  fontSize : 14,
              },
          },
          tooltip: {
            trigger: 'item'
          },

          series: [
            {
              name: 'Access From',
              type: 'pie',
              radius: '50%',
              data: [
                { value: 1048, name: 'Мужской' },
                { value: 735, name: 'Женский' },
              ],
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        };
        var optionForPieChartFilms = {
          title: {
            text: 'Фильмы по популярности',
            left: 'center',
            textStyle: {
                  fontSize : 14,
              },
          },

          tooltip: {
            trigger: 'item'
          },
          legend: {
            orient: 'vertical',
            left: 'right',
            top: 'bottom'
          },
          series: [
            {
              name: 'Access From',
              type: 'pie',
              radius: '50%',
              data: [
                { value: 1048, name: 'Мужской' },
                { value: 735, name: 'Женский' },
              ],
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        };

        if (optionForPieChartSex && typeof optionForPieChartSex === 'object') {
          myChartSex.setOption(optionForPieChartSex);
        }
        if (optionForPieChartFilms && typeof optionForPieChartFilms === 'object') {
          myChartFilms.setOption(optionForPieChartFilms);
        }

        window.addEventListener('resize', myChartSex.resize);
        window.addEventListener('resize', myChartFilms.resize);






        var areaSeances = $('.area-seances');
        var myChartAreaSeances = echarts.init(areaSeances.get(0), null, {
          renderer: 'canvas',
          useDirtyRect: false
        });



        var optionForAreaSeances = {
          title: {
            text: 'Сеансы',
            left: 'center',
            textStyle: {
                  fontSize : 14,
              },
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              data: [820, 932, 901, 934, 1290, 1330, 1320],
              type: 'line',
              areaStyle: {}
            }
          ]
        };

        if (optionForAreaSeances && typeof optionForAreaSeances === 'object') {
          myChartAreaSeances.setOption(optionForAreaSeances);
        }

        window.addEventListener('resize', myChartAreaSeances.resize);







         var lineStackFilms  = $('.line-stack-films');
         var myChartLineStackFilms = echarts.init(lineStackFilms.get(0), null, {
           renderer: 'canvas',
           useDirtyRect: false
         });


        var optionForLineStackFilms = {
          title: {
            text: 'Сеансы',
            textStyle: {
                  fontSize : 14,
              },
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['Email', 'Union Ads', 'Video Ads', 'Direct', 'Search Engine']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              name: 'Email',
              type: 'line',
              stack: 'Total',
              data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
              name: 'Union Ads',
              type: 'line',
              stack: 'Total',
              data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
              name: 'Video Ads',
              type: 'line',
              stack: 'Total',
              data: [150, 232, 201, 154, 190, 330, 410]
            },
            {
              name: 'Direct',
              type: 'line',
              stack: 'Total',
              data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
              name: 'Search Engine',
              type: 'line',
              stack: 'Total',
              data: [820, 932, 901, 934, 1290, 1330, 1320]
            }
          ]
        };

        if (optionForLineStackFilms && typeof optionForLineStackFilms === 'object') {
          myChartLineStackFilms.setOption(optionForLineStackFilms);
        }

        window.addEventListener('resize', myChartLineStackFilms.resize);
          </script>

{% endblock %}


