{% extends 'admin_panel/base3.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'admin_panel/form.css' %}">
    </head>

        <div>
            <a href="{% url 'stock_form' %}">
                <button type="button"   class="form__btn form__btn_w300 btn-primary btn-primary_corner">
                  Создать акцию</button></a>
        </div>

        <div class="form__title">Список Акций</div>



    <table class="form__table table">
          <thead>
            <tr>
              <th>Название</th>
              <th>Дата Создания</th>
              <th>Статус</th>
              <th>Изменить</th>
              <th>Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
                <tr>
                  <td>{{ stock.name }}</td>
                  <td>{{ stock.creation_date }}</td>
                  <td>
                      {% if stock.turn_on %}
                        ВКЛ
                      {% else %}
                        ВЫКЛ
                      {% endif %}
                  </td>
                  <td><a href="{% url 'update_stock' stock.id %}"><img class="table__icon" src="{% static 'admin_panel/imgs/edit.png' %}" alt=""></a> </td>
                  <td><a href="{% url 'delete_stock' stock.id %}"><img class="table__icon"  src="{% static 'admin_panel/imgs/delete.png' %}" alt=""></a></td>
                </tr>
            {% endfor %}
          </tbody>
    </table>

{% endblock %}