@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import 'zeroing.css';
.btn-default {
  font-family: "Arvo", sans-serif;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  background: #6C5CE7;
  border-radius: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}
.btn-primary:hover, .btn-primary:focus {
  transition: background 0.3s ease;
  background-color: #A29BFE;
}

.btn-primary_corner {
  border-radius: 999px;
}

.btn-default {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #6C5CE7;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #989797;
}
.btn-default:hover, .btn-default:focus {
  transition: background 0.3s ease;
  background-color: #6C5CE7;
  color: #ffffff;
}

body {
  font-family: "Arvo", sans-serif;
  color: #5C5C5C;
  min-height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.header {
  padding: 50px 50px 0px;
  margin-bottom: 25px;
}
.header__grid {
  display: grid;
  grid-template-columns: minmax(0px, 200px) minmax(0px, 250px) minmax(210px, 1fr) 250px minmax(10px, 50px) 300px minmax(10px, 50px) 290px;
  grid-template-rows: 100px 25px 100px;
  grid-template-areas: "logo logo . search . socials . contacts" "logo logo . . . . . ." ". navbar navbar navbar navbar navbar . sign-in-up";
}
.header__grid * {
  background: #ffffff;
}
.header__logo {
  grid-area: logo;
  height: 100px;
  width: 200px;
}
.header__search {
  grid-area: search;
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.header__socials {
  grid-area: socials;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 50px;
}
.header__socials img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.header__contacts {
  grid-area: contacts;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}
.header__contacts span {
  font-weight: bold;
  color: #5C5C5C;
  font-size: 30px;
  letter-spacing: 5px;
}
.header__navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__sign-in-up {
  grid-area: sign-in-up;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__link a {
  color: inherit;
  background: inherit;
}
.header__link:hover {
  color: #ffffff;
  transition: background-color ease 0.3s;
  background: #FDCB6E;
}
.header__link_green:hover {
  transition: background-color ease 0.3s;
  background: #00B894;
  color: #ffffff;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 50px;
}
.socials img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.main {
  flex-grow: 1;
  padding: 50px 50px 0;
}

.footer__grid {
  margin: 0 auto;
  color: #ffffff;
  padding: 50px;
  background: #2D3436;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px minmax(50px, 1fr) 120px minmax(50px, 100px) 170px minmax(50px, 200px) 200px);
  grid-template-areas: "mobile . afisha . cinema . socials";
  justify-content: center;
  flex-shrink: 1;
  font-family: "Arvo", sans-serif;
  font-size: 18px;
}
.footer__mobile {
  grid-area: mobile;
}
.footer__mobile img {
  width: 200px;
  height: 100px;
}
.footer__afisha {
  grid-area: afisha;
}
.footer__cinema {
  grid-area: cinema;
}
.footer__socials {
  grid-area: socials;
}
.footer__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.footer__link {
  cursor: pointer;
  margin-bottom: 10px;
}
.footer__link a {
  color: inherit;
}
.footer__link:hover {
  color: #989797;
}
.footer__row {
  margin-bottom: 60px;
}

/*# sourceMappingURL=base.css.map */
