
.main
  &__blocks
    display: flex
    flex-direction: column

  &__block
    background: white
    position: relative
  &__card
  &__title


.card
  &__title

    grid-area: ctitle
  &__file

  &__list
    display: flex
    flex-direction: column


  &__radio
    grid-area: cradio

  &__btn
    grid-area: cbtn
    cursor: pointer
    display: none




