{% extends 'kino_app/base2.html' %}
{% load static %}
 {% load i18n %}

{% block title %}
    {% trans 'О кинотеатре' %}
{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
        <picture class="d-block position-relative">
              <img src="{% get_static_prefix %}kino_app/imgs/placeholderimg.png" class="img-fluid h-auto w-100" alt="...">
        </picture>
     <div class="content bg-white">
        <div class="row">
             <div class="col-md-9 col-lg-10 col-xl-10 pt-4 col-12 pr-1" >
                 <div class="text-center">
                     <h3 class="mb-3">{% trans 'О кинотеатре' %}</h3>
                 </div>
                 <p class="content__descr p-3" style="text-align: justify;  text-indent: 50px;letter-spacing: 1px">
                   &nbsp;
                    Кинокомплекс "Золотой Дюк", последний из проектировавшихся во время Советского Союза одесских кинотеатров, был открыт 15 декабря 1993 г. Из трех залов кинотеатра, первоначально работал один, а в сентябре 1994 г. был открыт второй зал. Впоследствии, в связи с развалом кинопроката, "Золотой Дюк" фактически перестал работать как кинотеатр. В 1996 г. в первом зале разместился клуб "Чикаго", а третий зал так и не начал работать, был сдан в аренду спортивному клубу. Второй же зал был просто закрыт.



                    14 мая 2002 года началась реконструкция кинокомплекса, в результате которой 20 сентября 2002 года был открыт самый большой на тот момент на Украине трехзальный кинокомплекс "Золотой Дюк".



                    В 2005 году были достроены еще 2 зала и кинокомплекс "Золотой Дюк" стал Первым Одесским пятизальным мультиплексом.



                    1 июля 2009 года в Мультиплексе «Золотой Дюк» открылся первый 3D – зал №1 на 378 мест, с объемным цифровым изображением и специальными поляризованными очками, а 01 ноября 2009 открылся второй 3D-зал №4 на 180 мест и третий 3D-зал  № 5  на 180 мест.



                    Залы 3D считаются сегодня самой зрелищной системой кинопоказа. Их экраны, объемный звук и четкая, гиперреалистичная картинка почти полностью разрушили границу между экраном и публикой...



                    В феврале 2012 был построен ещё один, VIP-зал на 20 мест. Этот зал оборудован цифровым проектором NEC, который использует новую "активную" технологию Xpant для 3D. К слову, эта технология применена на Украине впервые.



                    В общем, наш мультиплекс стал  шестизальным.Подробную информацию о VIP-зале Вы можете получить по адресу  http://vip.kino.od.ua



                    В нашем Мультиплексе зрителям обеспечен максимальный комфорт. Судите сами: благодаря наличию именно шести залов мы можем предложить Вам наибольший выбор фильмов, причем Вы всегда имеете возможность выбрать наиболее удобный для Вас сеанс.
                 </p>
                 <picture class="d-block position-relative mb-3">
                      <img src="{% static 'kino_app/imgs/placeholderimg.png' %}" class="img-fluid h-auto w-100" alt="...">
                </picture>
                 <h3 class="text-left ps-3" >{% trans 'Оборудование' %}</h3>
                <p class="content__descr p-3" style="text-align: justify;  text-indent: 50px;letter-spacing: 1px">
                    Общая площадь кинотеатра 1600 метров и он занимает весь четвертый этаж универмага «Украина». В интерьере кинотеатра использованы два стиля – high-tech и минимализм. Яркое оформление гостевой зоны фойе, бара, гардероба (оранжевые стены, потолок и кассы) контрастируют с мягким уютным оформлением небольших залов. Вы входите в кинотеатр, выбираете фильм, зал, место, оплачиваете стоимость билета, то есть выполняете некую работу. Активная фаза пребывания в кинотеатре проходит в активном фойе, а отдых – это просмотр фильма в уютном зале.

                    Кстати о залах. Кинотеатр ОДЕССА-КИНО отличается небольшими залами, в каждом 127 зрительских кресел. Потому, что мы считаем, что намного приятнее смотреть кино в относительно небольшой компании, чем на крытом стадионе. 4 зала в ОДЕССА-КИНО отличаются друг от друга по цветовому решению. Удобные кресла, с большими подставками для кока-колы и поп-корна.
                </p>
                 <div class="d-flex flex-row flex-wrap justify-content-center gap-5 align-items-center p-3">
                      <img src="{% static 'kino_app/imgs/placeholderimg.png' %}" class="img-fluid h-auto " style="width: 25rem" alt="...">
                      <img src="{% static 'kino_app/imgs/placeholderimg.png' %}" class="img-fluid h-auto " style="width: 25rem" alt="...">
                </div>

                <p class="p-3" style="text-align: justify;  text-indent: 50px;letter-spacing: 1px">
                    И, наконец, то, ради чего мы приходим в кинотеатр.
                    Экран, звук, качество копий. Все залы в кинотеатре ОДЕССА-КИНО оснащены самым современным немецким проекционным оборудованием немецкой фирмы Kinoton с экранами 10Х4 метра. Немаловажная подробность. Экраны расположены достаточно близко к зрителям. Мы хотим сломать стереотип, о том, что кино на большом экране лучше смотреть издалека. Чем ближе вы к экрану, тем ближе вам перипетии сюжета. Еще глубже погрузиться в фильм помогает американская звуковая система Dolby Digital EX американской фирмы Elektrovoice. Возможности этой системы превратят в звукового гурмана любого. Точно такой же звук вы можете услышать в лучших кинотеатрах мира. И, безусловно, высочайшее качество изображения на экране. Его гарантирует наше стремление использовать только лучшие копии фильмов.
                </p>
             </div>
             <div class="column col-md-3 col-lg-2 col-xl-2 col-12 mb-md-0">
                  <div style="height: 100%" class="fs-6 d-none d-md-block bg-danger mb-3">
                     <span class="text-wrap text-white">{% trans 'Контекстная реклама' %}</span>
                </div>
             </div>
            <p></p>
        </div>
        <div style="height: 100px" class="fs-6 d-md-none bg-danger">
            <span class="text-wrap text-white">{% trans 'Контекстная реклама' %}</span>
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}