{% extends 'kino_app/base.html' %}
{% block title %} Мобильные приложения {% endblock %}
{% block content %}
<div class="card mb-3 text-black" style="margin-top: 130px;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item active" >

            <img src="../../static/kino_app/images/mobile_aps.jpg"   class="img-fluid" alt="Responsive image">
        </div>
      </div>
  </div>
  <div class="container-marketing-colo">
      <div class="row">

          <div class="col-lg-10">
              <div class="card-body" style="margin-bottom: 25px">
                <h4 class="text-center">Мобильные приложения</h4>
                <br>
                <p class="card-text">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
                </p>
                <div class="container-marketing-colo">
                    <div class="row">
                        <div class="col-lg-3">
                            <img style="width: 200px;height: 200px" src="../../static/kino_app/images/mobile_aps.jpg" alt="">

                        </div>
                        <div class="col-lg-3">
                            <img style="width: 200px;height: 200px" src="../../static/kino_app/images/mobile_aps.jpg" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img style="width:  200px;height: 200px" src="../../static/kino_app/images/mobile_aps.jpg" alt="">
                        </div>
                        <div class="col-lg-3">
                            <img style="width: 200px;height: 200px" src="../../static/kino_app/images/mobile_aps.jpg" alt="">
                        </div>
                    </div>
                    <br>
                </div>
                <div class="row">
                      <div class="col-lg-4" style="width: 200px">
                          <a href="#"><img style="width: 200px" src="../../static/kino_app/images/android.png" alt=""></a>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4"  style="width: 200px">
                          <a href="#"><img style="width: 200px" src="../../static/kino_app/images/apple.png" alt=""></a>
                      </div><!-- /.col-lg-4 -->
                </div>
              </div>
          </div>
          <div class="col-lg-2 " style="background-color: black">
          <p class="text-white text-center">Контекстная реклама</p>
          </div>
      </div>
  </div>
</div>
{% endblock %}