{% load static %}
 {% load i18n %}

{% if type == "poster" %}
    {% for film in films %}
        <div class="card mr-3 bg-transparent" style=" width: 11.5rem;; border: 0px">
          <a class="text-decoration-none" href="{% url 'film_card' film.id %}">
              <img src="{{ film.card_img.url }}" class="card-img-top img-fluid " style="height: 300px;"alt="...">
              <div class="card-body  d-flex flex-column align-items-center">
                  <p class="card-text text-white">{{ film.name }}</p>
                <button class="btn btn-primary card-text text-uppercase text-white text-info mb-3">{% trans 'Купить' %}</button>
              </div>
          </a>
        </div>
    {% endfor %}
{% elif type == "soon" %}
   {% for film in films %}
        <div class="card mr-3 bg-transparent" style=" width: 11.5rem;; border: 0px">
          <a class="text-decoration-none" href="{% url 'film_card' film.id %}">
              <img src="{{ film.card_img.url }}" class="card-img-top img-fluid " style="height: 300px;"alt="...">
              <div class="card-body  d-flex flex-column align-items-center">
                  <p class="card-text text-white">{{ film.name }}</p>
                  <p class="card-text text-primary">C {{ film.released }}</p>
              </div>
          </a>
        </div>
   {% endfor %}
{% endif %}