{% extends 'kino_app/base.html' %}
{% load static %}
{% block title %} Афиша {% endblock %}
{% block content %}


          <div class=" album py-5 " style="margin-top: 100px;margin-bottom: -48px">
            <div class="container-marketing-colo " style="      background: rgba(0,0,0,.6);">
                <div class="row " >
                    <div class="col-lg-2" style="background-color: black">
                        <p>Контекстная реклама</p>
                    </div>
                    <div class="col-lg-10">
                        <div class="container-marketing-colo">
                            <div class="row ">
                                {% for film,techs in result %}
                                        <div class="col-lg-4 ">
                                            <p class="fs-4 text-center" style="color: lawngreen">с 1 сентября </p>
                                            <div class="container" style="position: relative">
                                                <a href="{% url 'film_card' film.name %}">
                                                    <img class="bd-placeholder-img  " width="300" height="340" src="{%  static '/kino_app/images/film_card/' %}{{film.main_pic}}" alt="">
                                                    <ul class="text-block " style="list-style-type: none;">
                                                        {% for tech in techs %}
                                                                <li class="rounded-pill text-center" style="background-color: #be14ff"><h4>{{ tech.name }}</h4></li>
                                                        {% endfor %}
                                                        <li class="rounded-pill text-center" style="background-color: deepskyblue;"><h4>+{{ film.legal_age }}</h4></li>

                                                    </ul>
                                                </a>

                                            </div>
                                            <a href="film_card " style="text-decoration: none"><h2 class="text-center text-white">{{ film.name}}</h2></a>
                                            <p class="text-center "><a class="btn btn-lg btn-success"  width="300" height="240" href="#">Купить билет &raquo;</a></p>
                                        </div>
                                {% endfor %}

                            </div><!-- /.row -->
                        </div>
                    </div>

                </div><!-- /.row -->
            </div>
          </div>
          </div>
{% endblock %}



