{% extends 'kino_app/base.html' %}


     {% block content %}
     <head>
        <link rel="stylesheet" href="../../static/kino_app/css/schedule_sidebar.css">
    </head>
          <div class="container-fluid  " style="margin-top: 200px; margin-bottom: 200px;background-color: lightgray; ">
              <div class="flex-shrink-0 p-3 bg-light text-black" style=" width: 230px;margin-left: -10px">
                <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <span class="fs-5 fw-semibold">Фильтр</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                        <p>Формат:</p>
                        <input type="checkbox" id="3D" name="3D" value="3D">
                        <label for="3D"> 3D</label><br>
                        <input type="checkbox" id="DBOX" name="DBOX" value="DBOX">
                        <label for="DBOX"> DBOX</label><br>
                        <input type="checkbox" id="VIP" name="VIP" value="VIP">
                        <label for="VIP"> VIP</label><br>
                  </li>
                  <hr>
                  <li class="mb-1">
                        <label for="data_release">Дата показа: </label>
                        <input type="date"  id="date_release">
                  </li>
                </ul>
              </div>
              <div class=" album py-5 text-black " style=";margin-left: 15%;margin-top: -350px">
                    <div class="container marketing colo">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="container"width="300" height="240" style="position: relative">
                                    <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/film_card/16.jpg" alt="">
                                </div>
                            </div><!-- /.col-lg-4  Image for film-->
                            <div class="col-lg-8">
                                <div class="container" style="position: relative">
                                    <p class=""> Название фильма,Возрастное ограничение</p>
                                    <div class="container"style="position: relative">
                                            <p class="">Зал 1</p>
                                            <div class="container"style="position: relative">
                                                <p class=""> Формат</p>
                                                <div class="row">
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div><div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                </div>
                                                <br>
                                                <p class=""> Формат</p>
                                                <div class="row">
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div><div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                </div>
                                                <br>
                                                <p class=""> Формат</p>
                                                <div class="row">
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div><div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                </div>
                                        </div><!--/Зал 1 end-->
                                        <br>
                                        <p class="">Зал 2</p>
                                            <div class="container"style="position: relative">
                                                <p class=""> Формат</p>
                                                <div class="row">
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div><div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                </div>
                                                <br>
                                                <p class=""> Формат</p>
                                                <div class="row">
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div><div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                </div>
                                                <br>
                                                <p class=""> Формат</p>
                                                <div class="row">
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div><div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                         <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a   href="#">Время</a>
                                                        </div>
                                                </div>
                                        </div><!--/Зал 2 end-->
                                    </div>
                                </div>
                            </div><!-- /.col-lg-8 Info of film end-->
                        </div><!-- /.row of film-->
                        <hr style="  border: 1px solid grey;">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="container"width="300" height="240" style="position: relative">
                                    <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/film_card/16.jpg" alt="">
                                </div>
                            </div><!-- /.col-lg-4  Image for film-->
                            <div class="col-lg-8">
                                <div class="container" style="position: relative">
                                    <p class=""> Название фильма,Возрастное ограничение</p>
                                    <div class="container"style="position: relative">
                                        <p class="">Зал 1</p>
                                            <div class="container"style="position: relative">
                                                <p class=""> Формат</p>
                                                <div class="row">
                                                        <div class="col-lg-2">
                                                            <a   href="#">{{ seance.time }}</a>
                                                        </div>
                                                </div>
                                                <br>
                                        </div><!--/Зал 1-->
                                    </div>
                                </div>
                            </div><!-- /.col-lg-8 Info of film end-->
                        </div><!-- /.row of film-->
                    </div>
                  </div>
              </div>
         </div>
  {% endblock %}
