@import '../atributes'
@import '../buttons'
@import '../zeroing.css'

.content
  display: grid
  grid-template-columns: 100px minmax(400px,1fr)
  grid-template-areas: 'sidebar main'
  &__main
    background: $gray-dark-color
    grid-area: main
  &__ads
    text-align: center
    color: $white-color
    background: $red-dark-color
    grid-area: sidebar
  &__menu
    margin-bottom: 50px
  &__grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr))
    justify-items: center
    grid-gap: 30px
    margin-bottom: 150px
    padding-right: 50px
    padding-left: 50px
  &__btn
    padding: 10px 30px
    border-radius: 0px
    background: $yellow-dark-color
    color: $white-color
    &:hover
      background: $yellow-light-color
.film
  &__item
      width: 300px
      display: flex
      flex-direction: column
      align-items: center

  &__img
    width: 300px
    height: 400px
    margin-bottom: 20px
  &__text
    flex-grow: 1
    text-decoration: none
    color: $white-color
    font-size: 28px
    text-align: center
    font-family: $font-family
    font-weight: bold
    margin-bottom: 30px
    &_yellow
      color: $yellow-dark-color
  &__btn
    padding: 10px 30px
    border-radius: 0px
    background: $yellow-dark-color
    &:hover
      background-color: $yellow-light-color